
@font-face {
    font-family:"Amma Regular";
    src:url("Amma.woff2") format("woff2"),url("Amma.woff") format("woff"),url("Amma.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        